//Copyright (C)2014-2023 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: 1.9.9 Beta-4
//Part Number: GW1NR-LV9QN88PC6/I5
//Device: GW1NR-9
//Device Version: C
//Created Time: Fri 12 01 05:01:01 2023

IO_LOC "debug_led" 13;
IO_PORT "debug_led" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "cam_pwdn" 27;
IO_PORT "cam_pwdn" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "LCD_B[4]" 41;
IO_PORT "LCD_B[4]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "LCD_B[3]" 42;
IO_PORT "LCD_B[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "LCD_B[2]" 51;
IO_PORT "LCD_B[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "LCD_B[1]" 53;
IO_PORT "LCD_B[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "LCD_B[0]" 54;
IO_PORT "LCD_B[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "LCD_G[5]" 55;
IO_PORT "LCD_G[5]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "LCD_G[4]" 56;
IO_PORT "LCD_G[4]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "LCD_G[3]" 57;
IO_PORT "LCD_G[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "LCD_G[2]" 68;
IO_PORT "LCD_G[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "LCD_G[1]" 69;
IO_PORT "LCD_G[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "LCD_G[0]" 70;
IO_PORT "LCD_G[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "LCD_R[4]" 71;
IO_PORT "LCD_R[4]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "LCD_R[3]" 72;
IO_PORT "LCD_R[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "LCD_R[2]" 73;
IO_PORT "LCD_R[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "LCD_R[1]" 74;
IO_PORT "LCD_R[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "LCD_R[0]" 75;
IO_PORT "LCD_R[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "LCD_DEN" 33;
IO_PORT "LCD_DEN" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "LCD_SYNC" 34;
IO_PORT "LCD_SYNC" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "LCD_HYNC" 40;
IO_PORT "LCD_HYNC" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "LCD_CLK" 35;
IO_PORT "LCD_CLK" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "led_out1" 11;
IO_PORT "led_out1" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "cam_clk" 29;
IO_PORT "cam_clk" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "cam_reset" 63;
IO_PORT "cam_reset" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "led_out" 10;
IO_PORT "led_out" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "master_sda" 25;
IO_PORT "master_sda" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 OPEN_DRAIN=ON BANK_VCCIO=3.3;
IO_LOC "master_scl" 26;
IO_PORT "master_scl" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 OPEN_DRAIN=ON BANK_VCCIO=3.3;
IO_LOC "cam_data_i[7]" 79;
IO_PORT "cam_data_i[7]" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "cam_data_i[6]" 77;
IO_PORT "cam_data_i[6]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "cam_data_i[5]" 81;
IO_PORT "cam_data_i[5]" IO_TYPE=LVCMOS18 PULL_MODE=DOWN HYSTERESIS=L2H BANK_VCCIO=1.8;
IO_LOC "cam_data_i[4]" 80;
IO_PORT "cam_data_i[4]" IO_TYPE=LVCMOS18 PULL_MODE=DOWN HYSTERESIS=L2H BANK_VCCIO=1.8;
IO_LOC "cam_data_i[3]" 83;
IO_PORT "cam_data_i[3]" IO_TYPE=LVCMOS18 PULL_MODE=DOWN HYSTERESIS=L2H BANK_VCCIO=1.8;
IO_LOC "cam_data_i[2]" 82;
IO_PORT "cam_data_i[2]" IO_TYPE=LVCMOS18 PULL_MODE=DOWN HYSTERESIS=L2H BANK_VCCIO=1.8;
IO_LOC "cam_data_i[1]" 85;
IO_PORT "cam_data_i[1]" IO_TYPE=LVCMOS18 PULL_MODE=DOWN HYSTERESIS=L2H BANK_VCCIO=1.8;
IO_LOC "cam_data_i[0]" 84;
IO_PORT "cam_data_i[0]" IO_TYPE=LVCMOS18 PULL_MODE=DOWN HYSTERESIS=L2H BANK_VCCIO=1.8;
IO_LOC "v_sync_i" 31;
IO_PORT "v_sync_i" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "h_sync_i" 32;
IO_PORT "h_sync_i" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "video_clk_i" 28;
IO_PORT "video_clk_i" IO_TYPE=LVCMOS33 PULL_MODE=UP HYSTERESIS=L2H PCI_CLAMP=ON BANK_VCCIO=3.3;
IO_LOC "sys_rst_n" 4;
IO_PORT "sys_rst_n" PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "sys_clk" 52;
IO_PORT "sys_clk" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
